body {
	background-color: black;
	color: white;
}
#header {
	width: 1000px;	
	height: 40px;
	border-style: solid;
	border-width: 2px;		
	margin-left: auto;
	margin-right: auto;
    
}
#body {
	width: 1000px;	
	border-style: solid;
	border-width: 2px;	
	margin-left: auto;
	margin-right: auto;
	min-height: 100px;
    
}
#footer {
	height: 20px;
	width: 1000px;	
	border-style: solid;
	border-width: 2px;	
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;

	margin-left: 4px;
}
.right{
	float: left;
	margin-top: 10px;
}
#console{
	margin-top: -40px;	
}
